---
name: Docker release

on:
  workflow_dispatch:

  pull_request:
    branches:
      - "main"
    paths:
      - "Dockerfile"
      - "src/**"
      - "libs/**"
      - ".github/workflows/docker-release.yml"
      - "package*.json"
      - "tsconfig*.json"
  push:
    branches:
      - "main"
    paths:
      - "Dockerfile"
      - "src/**"
      - "libs/**"
      - ".github/workflows/docker-release.yml"
      - "package*.json"
      - "tsconfig*.json"

permissions:
  contents: read

concurrency:
  group: "release-scsi-mcp-${{ github.sha }}"
  cancel-in-progress: true
jobs:
  docker:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      packages: write
    steps:
      - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # ratchet:docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # ratchet:docker/setup-buildx-action@v3

      - name: Login to Docker registry
        if: ${{ github.event.pull_request.head.repo.full_name == 'elastic/semantic-code-search-mcp-server' || github.ref == 'refs/heads/main' }}
        uses: docker/login-action@184bdaa0721073962dff0199f1fb9940f07167d1 # ratchet:docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@c1e51972afc2121e065aed6d45c65596fe445f3f # ratchet:docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}
          tags: |
            type=raw,value=latest,enable={{is_default_branch}}
            type=ref,event=branch
            type=ref,event=pr
            type=sha

      - name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # ratchet:docker/build-push-action@v6
        id: build
        with:
          context: .
          platforms: linux/amd64, linux/arm64
          push: ${{ github.event.pull_request.head.repo.full_name == 'elastic/semantic-code-search-mcp-server' || github.ref == 'refs/heads/main' }}
          sbom: true
          provenance: mode=max
          labels: ${{ steps.meta.outputs.labels }}
          tags: ${{ steps.meta.outputs.tags }}
